.searchInputWrapper {
  display: flex;
  align-items: center;
}
.searchButton {
  color: white;
  cursor: pointer;
  padding: 10px;
  box-sizing: content-box;
}

.searchButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
@media (hover: none) {
  .searchButton {
    pointer-events: none;
  }
}
