.locationWrapper {
  display: flex;
  align-items: center;
  width: max-content;
  overflow: hidden;
}

.navbarButton {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid white;
  margin-right: 15px;
  font-family: inherit;
  color: white;
  transition: all 0.3s;
  padding: 5px 20px;
}

.navbarButton:hover {
  background-color: white;
  color: black;
}

.arrow {
  width: 16px;
  height: 16px;
  box-sizing: content-box;
}

.query {
  flex-shrink: 0;
}

.location,
.homeLocation {
  display: flex;
  align-items: center;
  color: white;
}

.homeLocation::after {
  content: "Homepage with Trending News";
  flex-shrink: 0;
}

.location::before {
  content: "Search:";
  flex-shrink: 0;
}

@media screen and (max-width: 1200px) {
  .location,
  .homeLocation {
    font-size: 25px;
  }

  .homeLocation::after {
    content: "Homepage";
  }
}

@media screen and (max-width: 450px) {
  .location::before {
    content: "";
  }
  .navbarButton {
    padding: 5px 15px;
  }
}
